.menu {
  display: flex;
  color: #fff;
  :last-child {
    margin-right: 0px;
  }
  li {
    display: block;
    margin-right: 60px;
  }
  a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}
