.btn-order {
  display: inline-block;
  width: 250px;
  height: 60px;
  background: #00bb34;
  box-shadow: 2px 8px 30px #00bb34;
  border-radius: 10px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
