.mainSection {
  background: url("../../assets/img/Монтажная область.png") no-repeat center top /
    contain;
  color: #fff;
  padding-bottom: 35px;
  .container {
    .blockMenu {
      background: #fff;
      padding: 31px 60px;
      border-radius: 0px 0px 20px 20px;
      a {
        color: #000;
      }
    }
    .wrapper {
      ul {
        margin-bottom: 41px;
      }
      margin-top: 108px;
      h1 {
        width: 525px;
        font-weight: 700;
        font-size: 39px;
        line-height: 46px;
        margin-bottom: 41px;
      }
      .list {
        .list__item {
          font-weight: 500;
          font-size: 20px;
          line-height: 119.69%;
          margin-left: 25px;
        }
      }
    }
    .advantage {
      margin-top: 331px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .advantage__item {
        width: 262px;
        border-radius: 28px;
        background: linear-gradient(180deg, #a6dbf5 0%, #451874 97.92%);
        text-align: center;
        padding-top: 54px;
        padding-bottom: 62px;
        div {
          width: 97px;
          height: 97px;
          border-radius: 50%;
          background: #fff;
          display: flex;
          align-items: center;
          margin-right: auto;
          margin-left: auto;
          img {
            margin-right: auto;
            margin-left: auto;
          }
        }
        p {
          max-width: 180px;
          margin: 0 auto;
        }
      }
    }
  }
}
.questions {
  display: flex;
  .questions__img {
    padding: 70px 0;
  }
  .questions__text {
    background: url("../../assets/img/askpricestar.png") no-repeat left top;
    display: flex;
    padding-left: 93px;
    align-items: center;
    color: #000000;
    font-weight: 500;
    :first-child {
      line-height: 119.69%;
      font-size: 28px;
      max-width: 570px;
      margin-bottom: 35px;
    }
    .text {
      line-height: 119.69%;
      font-size: 15px;
      max-width: 375px;
      margin-bottom: 35px;
    }
  }
}

.price {
  .diagnostics {
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      text-transform: uppercase;
      margin-bottom: 19px;
      position: relative;
      ::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 1px;
      }
    }
    h3 {
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 46px;
    }
    .options {
      display: flex;
      justify-content: space-around;
      .options__item {
        text-align: center;
        .options__item__text {
          font-weight: 500;
          font-size: 20px;
          line-height: 119.69%;
          max-width: 230px;
          margin: 38px auto 90px;
        }
        .options__item__img {
          position: relative;
          display: flex;
          align-items: center;
          width: 364px;
          height: 364px;
          border: 12px solid rgba(76, 26, 139, 0.42);
          border-radius: 50%;
        }
        img {
          margin: 0 auto;
        }
        .options__item__block {
          display: flex;
          align-items: center;
          position: absolute;
          width: 184px;
          height: 184px;
          border-radius: 50%;
          background: #5f24a8;
          bottom: -40px;
          right: -55px;
          color: #fff;
          font-weight: 700;
          text-align: center;
          div {
            margin: 0 auto;
          }
          p {
            font-size: 28px;
            line-height: px;
          }
          span {
            font-size: 55px;
            line-height: 64px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
