.mainHeader {
  background: linear-gradient(
    90deg,
    #443682 14.58%,
    #28418a 39.75%,
    #00669c 68.41%
  );
  padding: 35px 100px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
