.mainHeader {
  background: linear-gradient(
    90deg,
    #443682 14.58%,
    #28418a 39.75%,
    #00669c 68.41%
  );
  padding: 35px 0 25px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
